body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bgGreen {
  background-color: #F1F3FF ;
}

.bgBlue {
  background-color: #0D28A6 !important;
}

.mb-section{
  margin-bottom: 100px;
}

.text-hero {
  margin-left: 100px;
}